.reveal h1{
    font-size: 1.4em;
    margin: 180px 0 20px 0px;
}

.reveal h2{
    font-size: 1em;
    margin: 50px 0 20px 0px;
}

.reveal h3{
    font-size: 1em;
    margin: 50px 0 20px 0px;
}

.speaker-controls-notes .value{
    font-size: 1em;
}
